* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

body {
  background-color:  #d3d3d34d ;
}

.loader{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader img{
  height: 25vmin;
  animation: rotate 1s ;
  animation-iteration-count: infinite;
}

.loader.hidden{
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}
@keyframes rotate{
  100%{
    transform: rotate(90deg);
  }
}
@keyframes fadeOut{
  100%{
  opacity: 0;
  visibility: hidden;
  }
}

.charts ,.charts2 {
  display: inline-block;
  position: relative;
  height: 70vh;
  width: 40vw;
  margin: 0 5vw 4vh 4vw;
  padding: 1vh 0 7vh 0 ;
}
.charts2{
  padding :1vh 0 0 0;
  height: 65vh;
  margin:0 5vw 0vh 4vw
}
#chart,
#chart2,
#chart-country,
#chart-country {
  position: relative;

}
.world-data,
.country-data {
  margin:1vh 0 8vh 0;
  height:7vh;
  display: grid;
  grid-template-columns: 1fr  1fr;

}.country-data{
  height:15vh;
  margin: 1vh 3vw 5vh 3vw;
}

.world-data div,
.country-data div {
  justify-self: center;
  font-style:  italic;
  font-size: 1.7vmax;
  color: rgb(110, 110, 17);
  /* font-weight: 1050; */
  padding: 0vh 0 0 0vh;
  /* display: none; */
}
.country-data div{
  color: rgba(231, 29, 29, 0.815);
}
#Countrydiv{
  position: absolute;
  z-index: -1;
}

br {display:none}

#country_heading, #world_heading{
  left: 50%;
  width:100%;
 display: flex;
 justify-content: center;
 align-items: center;
 transform: translate(0%,-10%);
 color: rgb(204, 32, 75);
 /* text-decoration: underline; */
 font-weight: 500;
 font: bold;
 text-transform: capitalize;
 padding: 1vh 0 0 0;
} 
#country_heading{
  transform: translate(0%,-40%);
  color:rgb(212, 151, 37) ;
}
.gotop {
  position: fixed;
  bottom: 5vh;
  right: 0.1vw;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  color:#e74c3c;
  height: 4vmax;
  transition: all 1s ;
  cursor: pointer;
}

@media screen and (max-width:1048px) and (min-width:768px){
  .charts ,.charts2 {
    display: block;
    position: relative;
    height: 40vh;
    width: 70vw;
    margin: 1vh 14vw 1vh 14vw;
    padding: 0vh 0 0vh 0 ;
  }
  .charts2{
    height: 38vh;
  }
  .world-data,
  .country-data {
    margin:0vh 0 0vh 0;
    height:7vh;
    display: grid;
    grid-template-columns: 1fr  1fr;
  
  }.country-data{
    height:8vh;
    margin: 0vh 0vw 1vh 4vw;
  }

}

.hide{
  opacity: 0; 
  bottom: 0;
}

